{% extends 'base.html' %}


{% block content %}

<span id="about">
    
    <section class="neutral-primary ">
        <div class="about-container">
        <div class="col-3 text--center">
            <img src="/static/75.jpg" alt="" class="details-img--ball"/>
        </div>
        <div class="col-7 details font">
            <h3>About AKT Corporation</h3>
            <p>AKT Corporation was founded in 1978 as a manufacturer and supplier of delineators, guardrail
                delineators, barrier wall markers, and traffic signal lenses. AKT ships its products across the
                globe. Most of our products are used by Department of Transportations and highway contractors.</p>
        </div>
        </div>
    </section>
    
    <section class="section--dark text-center pinside80">
        <div class="about-container font">
        <div class="col-3 features">
            <i class="fa fa-bolt"></i>
            <h3>
            Elgin Molded
            </h3>
            <p>Where it all began (Custom Injection Molding)</p>
        </div>
        <div class="col-3 features">
            <i class="fa fa-bolt"></i>
            <h3>
            Empco-Lite 
            </h3>
            <p>Airport, Marine, and Railroad Lighting</p>
        </div>
        <div class="col-3 features">
            <i class="fa fa-bolt"></i>
            <h3>
            AKT Corporation 
            </h3>
            <p>Highway & Traffic Lighting</p>
        </div>
        </div>
    </section>

    <section class="bg-default text--center pinside80 font">
        <h3>See how it all comes together</h3>
        <a href="{{ url_for('sister_companies') }}" class="btn">Sister Companies</a>
        </div>
    </section>

    <section class="grad-neutral text--center pinside80">
        <div class="container font">
        <h3 class="grad-heading" >Mission Statement</h3>
        <p>The mission of Elgin Molded Plastics, Empco-Lite, and AKT Corporation is to fully satisfy the
            expectations of our customers by producing the highest quality products on time, each and every
            time, through the use of effective teamwork, employee involvement, and a dedication to excellence
            in everything we do with a view of continuous improvement.</p>
        </div>
    </section>

    <section class="text--center">
        <div class="about-container">
        <h3>Dedicated to "Old World" Apprenticeship</h3>
        <a href="{{ url_for('process') }}" class="btn">Learn More</a>
        </div>
    </section>
    
</span>
  


{% endblock content %}