{% extends 'base.html' %}


{% block content %}


<div class="big-image">
    <div class="overlay">
      <h1>Welcome to AKT Corporation</h1>
      <p> Manufacturer of Highway Reflectors, Delineators and Traffic Signal Lenses</p>
    </div>
</div>

<!-- MISSION STATEMENT -->
<section class="about-us sec-padd">

    <!-- MISSION STATEMENT -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="text font">
                        <h1>Our Mission</h1>
                        <p>The mission of AKT Corporation is to fully satisfy the expectations of our customers by 
                        producing the highest quality products on time, each and everytime, 
                        through the use of effective teamwork, employee involvement,
                        and a dedication to excellence in everything we do with a view of continuous improvement.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



<div class="grid">

    <section class=" grad-neutral mt50">
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
            <div class="slide">
                <img src="/static/akt/No18CenterDelineator/ClearAKTNo.18CenterMountDelineator.jpg" />
                </div>
            <div class="nav">
                <label for="img-6" class="prev">&#x2039;</label>
                <label for="img-2" class="next">&#x203a;</label>
            </div>
            </li>

            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                    <img src="/static/akt/No18CenterDelineator/5AmberAKTNo.18CenterMountDelineator.jpg" />
                </div>
            <div class="nav">
                <label for="img-1" class="prev">&#x2039;</label>
                <label for="img-3" class="next">&#x203a;</label>
            </div>
            </li>

            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                    <img src="/static/akt/No18CenterDelineator/GreenAKTNo.18CenterMountDelineator.jpg" />
                </div>
            <div class="nav">
                <label for="img-2" class="prev">&#x2039;</label>
                <label for="img-4" class="next">&#x203a;</label>
            </div>
            </li>


        </section>

        

 

        <section class="grad-neutral">
            <div class="container mt0">
                <h1 class="product-description">Featured Product</h1>
                <h1 class="mb30">No. 18 Center Delineator</h1>
                <img class="mr100" id="nav-logo" src="/static/product-made-in-america.png" height="50%" width="50%">
                <a href="{{ url_for('no18CenterMountDelineator') }}" class="btn btn-outline mt20">View Product</a> 
            </div>
            
            
                
                <ul class="mt100">
                   
                        <li>Exceeds all federal delineator photometric standards.</li>
                        <li>Thousands of six-point prisms give superior
                            reflectability, providing an extra margin of safety.</li>
                        <li>Available in plastic back or aluminum backing.</li>
                        <li>Available in amber, clear, red, green, blue</li>
              
            
                </ul>
        </section>
    </div>




</div>

<div class="image-effect-container flex-row mb100">
    <div class="image-effect-wrapper">
        <div class="box w-content">
        <img src="/static/pexels/pexels-messala-ciulla-1162643.jpg"
    " alt="img">
        <div class="frame">
            <h2>Advocates for Highway and Auto Safety</h2>
        </div>
        </div>
    </div>

    <div class="image-effect-wrapper">
        <div class="box w-content">
        <img src="/static/pexels/pexels-andrew-neel-3178786.jpg
    " alt="img">
        <div class="frame">
            <h2> We Serve the Best</h2>
        </div>
        </div>
    </div>

    <div class="image-effect-wrapper">
        <div class="box w-content">
        <img src=" /static/pexels/pexels-markus-spiske-1679719.jpg
    " alt="img">
        <div class="frame">
            <h2>Safety on the Roads</h2>
        </div>
        </div>
    </div>
</div>

    <!-- Our Products -->

    <section class="grad-primary bg-boxshadow ">
        <div class="container">


            <div class="grid-background-none">


                <div id=product-index-container>
                    We Offer  
                    <div id=flip>
                    <div><div>Markers</div></div>
                    <div><div>Delineators</div></div>
                    <div><div>Reflectors</div></div>
                    </div>
                    And More!  

                    <div><a href="{{ url_for('product_line') }}" class="btn-2">View Products</a></div>

                </div>


                
                <div class="index-products">
                    

                    <div class="wrapper">
                        <div class="box blury-card" >
                            <img 
                            src="/static/akt/_567_guardrail_delineator_/567GuardrailDelineator.jpeg
                            " alt="img">
                            <div class="frame">
                                <h2>High Quality</h2>
                                <p>High Performance</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 text--center">
                        </div>
                    
                    <div class="col-7 details">

                        
                    </div>
                </div>
                

                </div>

            
        
            <div class="container flex-row  mt80 ">
                    <p class="pdr40">Barrier Markers</p>
                    <p class="pdr40">Hazard Markers </p>
                    <p class="pdr40">Barrier Wall Markers</p>
                    <p class="pdr40">Reflective Markers </p>
                    <p class="pdr40">Non-Reflective Markers</p>
                    <p class="pdr40">Traffic Delineators</p>
                    <p class="pdr40">Guardrail Delineators</p>
                    <p class="pdr40">Barrier Delineators</p>
                    <p class="pdr40">Ultrasonic Welding</p>
                    <p class="pdr40">Light Reflectors</p>
                    <p class="pdr40">Retroreflective Tape </p>
            </div>
        </div>
    </section>

    <section class="neutral-primary ">
        <div class="about-container">
        <div class="col-3 text--center">
            <img src="/static/akt/JD-1/JD-1ConcreteBarrierWallMarker-Clear.jpg" alt="" class="details-img--ball"/>
        </div>
        <div class="col-7 details font">
            <h3>AKT Corporation in a nutshell</h3>
            <p>AKT Corporation, our third division, was formed in 1978. It's hard to believe that our "newest" company has been running strong for over 40 years. Take some time to learn more about our rich history and other divisions! </p>
            <div><a href="{{ url_for('sister_companies') }}" class="btn">Our Divisions</a></div>

        </div>
        </div>
    </section>





<!-- SPONSORSHIPS -->

<section class="text--center">
    <div class="about-container">
    <h3 class="capital-title">Proud Members Of</h3>
    <p>We are Highway Safety Leaders. AKT Corporation is honored to be recognized as an industry leader in Safelty, Innovation, and Leadership.</p>
        <div class="container flex-row">
            <img src="/static/memberships/memberships-03.png" height="20%" width="20%">
            <img src="/static/memberships/memberships-04.png" height="20%" width="20%">
            <img src="/static/memberships/memberships2-01.png" height="20%" width="20%">
            <img src="/static/memberships/memberships2-02.png" height="20%" width="20%">
        </div>
    </div>
</section>




{% endblock content %}