{% extends 'base.html' %}


{% block content %}


<!-- MISSION STATEMENT -->
<section class="about-us sec-padd">

    <!-- MISSION STATEMENT -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="text font">
                        <h1>Our Mission</h1>
                        <p>The mission of AKT Corporation is to fully satisfy the expectations of our customers by 
                        producing the highest quality products on time, each and everytime, 
                        through the use of effective teamwork, employee involvement,
                        and a dedication to excellence in everything we do with a view of continuous improvement.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock content %}