{% extends 'base.html' %}


{% block content %}

<div class="grid-1fr">


    <div class="wrapper product-line">
        <div class="mt80 mb40"><h1>Guardrail Delineators </h1></div>
        <div class="cols ">




                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('c1001az') }}">
                      <div class="container">
                          <div class="front" style="background-image: url(/static/akt/c1001az/C1001AZ.jpg)">
                              <div class="inner">
                                  <p>C1001(AZ)</p>
                    <span></span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Part # C1001</p>
                              </div>
                          </div>
                      </div>
                    </a>
                  </div>

                <!-- 567 Guardrail Delineator -->
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('guardrail_delineator') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/akt/_567_guardrail_delineator_/567GuardrailDelineator.jpeg)">
                            <div class="inner">
                                <p>567 Guardrail Delineator</p>
                    <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 567-1 (single side), 567-2 (double side)</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>


                <!-- 181 Guardrail Delineator  -->
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('guardrail_delineator_181') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/akt/_181gd/181-OK.jpg)">
                            <div class="inner">
                                <p>181 Guardrail Delineator</p>
                    <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 181-1 (single side), 181-2 (double side)</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>






                <div class="wrapper product-line mt100 mb40"><h1 class="">Center Mount and Traffic Signal Lenses</h1></div>

                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('no18CenterMountDelineator') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/akt/No18CenterDelineator/ClearAKTNo.18CenterMountDelineator.jpg)">
                            <div class="inner">
                                <p>No. 18 Center</p>
                                    <span>Mount Delineator</span>
                            </div>
                        </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Part # No. 18</p>
                                </div>
                            </div>
                    </div>
                    </a>
                </div>

                <!-- TRAFFIC SIGNAL LENSES  -->
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('traffic_signal_lenses') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/akt/traffic_lenses/1ClearTrafficLense.jpg)">
                            <div class="inner">
                                <p>Traffic Signal Lenses</p>
                                    <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Available in 8” and 12” diameter signal lenses in standard I.T.E. colors</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>







            
            <div class="wrapper product-line mt100 mb40"><h1 class="">Reflectors: EMB Series </h1></div>
        


            <!-- EBMT -->
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('EBMT') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflectors/EBMT/EBMT_1.jpg)">
                                <div class="inner">
                                    <p>EBMT</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Part # 96-EBMTHA1S, 96-EBMTHA2S, 96-EB-
                                    MTHW1S,96-EBMTHW2S</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <!-- EMB3x4 -->
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('EBM3x4') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflectors/EBM3x4/EBM_1_3x4.jpg)">
                                <div class="inner">
                                    <p>EBM 3x4</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Part # 96-EBM34HW1S, 96-EBM34HW2S,
                                        96-EBM34HA1S,
                                        96-EBM34HA2S</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- EMB3x3 -->
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('EBM3x3') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflectors/EBM3x3/EBM3x3Amber.jpg)">
                                <div class="inner">
                                    <p>EBM 3x3</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Part # 96-EBM33HW1S, 96-EBM33HW2S, 96-EMB33HA1S, 96-EBM33HA2S</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <!-- EMB3x8 -->
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('EBM3x8') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflectors/EBM3x8/EBM3X8.jpg)">
                                <div class="inner">
                                    <p>EBM 3x8</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Part# 96-EBM38HA1S, 96-EBM38HA2S, 96-EBM38HW1S, 96-EBM38HW2S</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="wrapper product-line mt100 mb40"><h1 class="">Reflectors: GRD Series </h1></div>


                <!-- GRD-S -->
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('GRD_S') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflectors/GRD-S/GRD-S_2.jpg)">
                                <div class="inner">
                                    <p>GRD-S</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Part # 96-EBM34HW1S, 96-EBM34HW2S,
                                        96-EBM34HA1S,
                                        96-EBM34HA2S</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- GRD-H-->
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('GRD_H') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflectors/GRD_H/GRD-H1.jpg)">
                                <div class="inner">
                                    <p>GRD-H</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>         
                
                 <!-- GRD-C -->
                 <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('GRD_C') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflectors/GRD-S/GRD-S_2.jpg)">
                                <div class="inner">
                                    <p>GRD-C</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>   

                 <!-- GRD-ST -->
                 <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('GRD_ST') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflectors/GRD_ST/GRD-ST.jpg)">
                                <div class="inner">
                                    <p>GRD-ST</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>   
                
                 <!-- GRD-FLEX -->
                 <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('GRD_FLEX') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflectors/GRD_FLEX/GRD-FLEX.jpg)">
                                <div class="inner">
                                    <p>GRD-FLEX</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Part # 96-GRDC4HW1S, 96GRDC4HW2S</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="wrapper product-line mt100 mb40"><h1 class="">Rivet Panels</h1></div>


                 <!-- 18x18 Rivet Panel -->
                 <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('rivetpanel18x18') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflective_panels/18x18rivetpanel/18x18-9RivetPanel.jpg)">
                                <div class="inner">
                                    <p>18x18 Rivet Panel</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                 <!-- 5x11 Rivet Panel -->
                 <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('rivetpanel5x11') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflective_panels/5x11rivetpanel/5x11-2RivetPanel.jpg)">
                                <div class="inner">
                                    <p>5x11-2 Rivet Red Panel</p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="wrapper product-line mt100 mb40"><h1 class="">Reflective Panels</h1></div>

                 <!-- 4x15 Aluminum 6” Reflective Panel  -->
                 <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('aluminum4x15') }}">
                        <div class="container">
                            <div class="front" style="background-image: url(/static/reflective_panels/aluminum4x15/4x15Alum6_ReflectiveTape.jpg)">
                                <div class="inner">
                                    <p>
                                        4x15 Aluminum 6” Reflective Panel 
                                        </p>
                            <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- 3x12 Panel with 5” Reflective Tape  -->
                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('panel3x12') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/reflective_panels/panel3x12/3X12Alum5_ReflectiveTape.jpg)">
                            <div class="inner">
                                <p>
                                    3x12 Panel with 5” Reflective Tape 
                                    </p>
                        <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- 4x4 Aluminum Square -->
            <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                <a href="{{ url_for('square4x4') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/reflective_panels/square4x4/4x4AluminumSquare.jpg)">
                            <div class="inner">
                                <p>
                                    4x4 Aluminum Square 
                                    </p>
                        <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>



            <div class="wrapper product-line mt100 mb40"><h1 class="">Barrier Markers & Angles
            </h1></div>


                <!-- concreate barrier wall marker -->

                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('JD_1') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/akt/JD-1/JD-1ConcreteBarrierWallMarker-Clear.jpg)">
                            <div class="inner">
                                <p>Concrete Barrier </p>
                        <span>Wall Marker</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # JD-1 (single side), JD-2 (double side)</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>

                <!-- 101285(WY) -->

                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('WY_101285') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/akt/barriermarkers/101285-1.jpg)">
                            <div class="inner">
                                <p>101285(WY) </p>
                        <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Part # 101285</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>

                <!-- 4x4 Aluminum Angle -->

                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('aluminumangle4x4') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/akt/barriermarkers/aluminumangle4x4/4x4x3.5AluminumAngle.jpg)">
                            <div class="inner">
                                <p>4x4 Aluminum Angle </p>
                        <span></span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="wrapper product-line mt100 mb40"><h1 class="">Pavement Markers & Adhesive
                </h1></div>

                <!-- prismatic_retroreflective_pavement_marker -->

                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('pavement_marker_921') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/akt/921PavementMarkers/Model921PavementMarkeryellow.png)">
                            <div class="inner">
                                <p>Prismatic Retroreflective</p>
                    <span>Pavement Marker</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Model 921 </p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>


                <!-- Butyl Pads -->

                <div class="product-col" ontouchstart="this.classList.toggle('hover');">
                    <a href="{{ url_for('butyl_pads') }}">
                    <div class="container">
                        <div class="front" style="background-image: url(/static/akt/921PavementMarkers/1ButylPadPavementAdhesive.jpg)">
                            <div class="inner">
                                <p>Butyl Pads</p>
                    <span>for Pavement Markers</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>


                <section id="whitesmoke" class=" text--center ">
                    <h3>Have more lighting needs? Check out more products from Empco-Lite</h3>
                    <a href="{{ url_for('sister_companies') }}" class="btn">View Empco-Lite Products</a>
                
                </section>
            

            </div>
            </div>




            </div>


    </div>




</div>




{% endblock content %}